body {
  background: url("../src/background.png");
  margin:0px;
  /* background-image:none; */
  position:static;
  left:auto;
  width:961px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u37 p{
  display: block;
  text-align:center;
  margin-top:5px;
}
#u16_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:961px;
  height:541px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:961px;
  height:541px;
}
#u16_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}

#u19 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}

#u21_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:2px;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:319px;
  width:54px;
  height:1px;
}
#u21_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}

#u37 {
  border-width:0px;
  background-color: white;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:123px;
}

#u39 {
  border-bottom:black solid 1px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u39_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  word-wrap:break-word;
}
#u39u {
  border-bottom:black solid 1px;
  position:absolute;
  left:0px;
  top:31px;
  width:100px;
  height:30px;
}
#u39u_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  word-wrap:break-word;
}
#u40 {
  border-bottom:black solid 1px;
  position:absolute;
  left:0px;
  top:62px;
  width:100px;
  height:30px;
}
#u40_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  word-wrap:break-word;
}
#u41 {
  border-width:1px;
  position:absolute;
  left:0px;
  top:93px;
  width:100px;
  height:30px;
}
#u41_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  word-wrap:break-word;
}
.ax_defaultMenu_item :hover{
  background-color: #f7c27e;
  color:white;
  cursor: pointer;
}

#before1{
  border:#f7c27e solid 2px;
  position:absolute;
  left:370px;
  top:30px;
  width:72px;
  height:108px;
}
#before2{
  border:#f7c27e solid 2px;
  position:absolute;
  left:448px;
  top:30px;
  width:72px;
  height:108px;
}
#before3{
  border:#f7c27e solid 2px;
  position:absolute;
  left:526px;
  top:30px;
  width:72px;
  height:108px;
}
#middle1{
  border:#f7c27e solid 2px;
  position:absolute;
  left:292px;
  top:150px;
  width:72px;
  height:108px;
}
#middle2{
  border:#f7c27e solid 2px;
  position:absolute;
  left:370px;
  top:150px;
  width:72px;
  height:108px;
}
#middle3{
  border:#f7c27e solid 2px;
  position:absolute;
  left:448px;
  top:150px;
  width:72px;
  height:108px;
}
#middle4{
  border:#f7c27e solid 2px;
  position:absolute;
  left:526px;
  top:150px;
  width:72px;
  height:108px;
}
#middle5{
  border:#f7c27e solid 2px;
  position:absolute;
  left:604px;
  top:150px;
  width:72px;
  height:108px;
}
#after1{
  border:#f7c27e solid 2px;
  position:absolute;
  left:292px;
  top:270px;
  width:72px;
  height:108px;
}
#after2{
  border:#f7c27e solid 2px;
  position:absolute;
  left:370px;
  top:270px;
  width:72px;
  height:108px;
}
#after3{
  border:#f7c27e solid 2px;
  position:absolute;
  left:448px;
  top:270px;
  width:72px;
  height:108px;
}
#after4{
  border:#f7c27e solid 2px;
  position:absolute;
  left:526px;
  top:270px;
  width:72px;
  height:108px;
}
#after5{
  border:#f7c27e solid 2px;
  position:absolute;
  left:604px;
  top:270px;
  width:72px;
  height:108px;
}
#before{
  background-color:#f7c27e;
  color:white;
  text-align: center;
  border-radius: 10px;
  font-size: 25px;
  position:absolute;
  left:780px;
  top:65px;
  width:70px;
  height:50px;
}
#middle{
  background-color:#f7c27e;
  color:white;
  text-align: center;
  border-radius: 10px;
  font-size: 25px;
  position:absolute;
  left:780px;
  top:180px;
  width:70px;
  height:50px;
}
#after{
  background-color:#f7c27e;
  color:white;
  font-size: 25px;
  border-radius: 10px;
  position:absolute;
  left:780px;
  top:295px;
  width:70px;
  height:50px;
}
.tip{
  text-align: center;
  margin: 8px auto;

}
#card{
  border:#f7c27e solid 2px;
  position:absolute;
  left:150px;
  top:430px;
  width:650px;
  height:76px;
}
.c{
  float:left;
  width:50px;
  height:76px;
}
.c img{
  width:50px;
  height:76px;
}
#start{
  background-color:#f7c27e;
  color:white;
  font-size: 25px;
  border-radius: 50px;
  position:absolute;
  left:50px;
  top:180px;
  width:70px;
  height:50px;
}
#action{
  background-color:#f7c27e;
  color:white;
  font-size: 25px;
  border-radius: 50px;
  position:absolute;
  left:50px;
  top:270px;
  width:70px;
  height:50px;
}
#action:hover,#start:hover{
  cursor: pointer;
}
#id{
  background-color:#f7c27e;
  color:white;
  font-size: 25px;
  border-radius: 10px;
  position:absolute;
  left:150px;
  top:30px;
  width:100px;
  height:80px;
}
#idNumber {
  position:absolute;
  top:18px;
}
