body{
    overflow: hidden;
    background: url("../src/background.png");
    background-repeat: no-repeat;
    background-size: auto auto;
    background-attachment: fixed;
    background-position: center;
    background-size:cover;
    backgrond-attachment:fixed;
    background-position:center;
    
}

#base {
    /* position:absolute;
    z-index:0; */
  }
  #u0_img {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:961px;
    height:541px;
  }
  #u0 {
    border-width:0px;
    position:absolute;
    left:-36px;
    top:0px;
    width:961px;
    height:541px;
  }
  #u0_text {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:0px;
    visibility:hidden;
    word-wrap:break-word;
  }
  #u1_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    /* width:380px;
    height:263px; */
    background:inherit;
    background-color:rgba(255, 255, 255, 1);
    box-sizing:border-box;
    border: 1px rgb(36,67,98) solid;
    border-radius:5px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
  }
  #u1 {
    border-width:0px;
    position:absolute;
    left:242px;
    top:191px;
    width:380px;
    height:263px;
    margin-left: 300px;
  }
  #u1_text {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:0px;
    visibility:hidden;
    word-wrap:break-word;
  }
  #u2_text {
    border-width:0px;
    position:absolute;
    margin-left:378px;
    margin-top:80px;
    width:84px;
    height:25px;
    text-align: center;
    color:white;
    background-color:rgb(36,67,98);
    border-radius: 5PX;
      box-shadow: 3px 3px 3px rgba(0,0,0,0.1);
  }
  #u2_text:hover{
    background-color: #f7c27e;
    color:black;
    cursor: pointer;
  }
  #u2u_text {
    border-width:0px;
    position:absolute;
    margin-left:485px;
    margin-top:80px;
    width:84px;
    height:25px;
    text-align: center;
    color:white;
    background-color:rgb(36,67,98);
    border-radius: 5PX;
      box-shadow: 3px 3px 3px rgba(0,0,0,0.1);
  }
  #u2u_text:hover{
    background-color: #f7c27e;
    color:black;
    cursor: pointer;
  }
  #u2{
    border-width:0px;
    position:absolute;
    left:430px;
    top:385px;
    width:169px;
    height:25px;
  }
  
  #u5 {
  border: 1px rgb(36,67,98) solid;
    background-color: white;
    position:absolute;
     /* margin-top:400px;  */
     margin-top: 350px;
     margin-left: 800px;
    /* left:900px;
    top:400px; */
    width:189px;
    height:35px; 
  }
  #u5_input {
    position:absolute;
    z-index:999;/*设置重叠的上下次序，值越大越在上方*/
     border-radius:35px;
    left:3px;
    top:0px;
    width:189px;
    height:30px;
    background-color:transparent;
    font-family:'Arial Normal', 'Arial';
    font-weight:400;
    font-style:normal;
    font-size:13px;
    text-decoration:none;
    color:#000000;
    text-align:left;
    border-color:transparent;
    outline-style:none;
    padding-left: 35px;
  }
  
  #u6 {
   border: 1px rgb(36,67,98) solid;
    background-color: white;
    position:absolute;
    margin-left:800px;
    margin-top:400px;
    width:189px;
    height:35px;
  }
  
  #u6_input {
    position:absolute;
    z-index:999;/*设置重叠的上下次序，值越大越在上方*/
    left:3px;
    top:0px;
     border-radius:15px;
    width:189px;
    height:30px;
    background-color:transparent;
    font-family:'Arial Normal', 'Arial';
    font-weight:400;
    font-style:normal;
    font-size:13px;
    text-decoration:none;
    color:#000000;
    text-align:left;
    border: 1px rgb(36,67,98) solid;
    border-color:transparent;
    outline-style:none;
    padding-left: 35px;

  }
  
  #u7_img {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:214px;
    height:242px;
  }
  #u7 {
    border-width:0px;
    position:absolute;
    left:206px;
    top:182px;
    width:214px;
    height:242px;
  }
  #u7_text {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:0px;
    visibility:hidden;
    word-wrap:break-word;
  }
  #u8_img {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:218px;
    height:168px;
  }
  #u8 {
    border-width:0px;
    position:absolute;
    left:483px;
    top:104px;
    width:218px;
    height:168px;
  }
  #u8_text {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:0px;
    visibility:hidden;
    word-wrap:break-word;
  }
  .icon01{
    position: absolute;
    left: 8px;
    top:6px;
    z-index: 199;
    background-image: url("../src/zhanghao.png");
    background-size: 50% 50%;
    background-repeat: no-repeat;
   /* background-position: 30px 0px;*/
    width:40px;
    height:40px;

}
.icon02{
    position: absolute;
    left: 8px;
    top:6px;
    z-index: 199;
    background-image: url("../src/unlock.png");
    background-size: 50% 50%;
    background-repeat: no-repeat;
   /* background-position: 30px 0px;*/
    width:40px;
    height:40px;
}
